body{
            background-color: #F7F2EB;
            font-family: monospace;
        }
        .container {
            width: 50%;
            background-color: #abb5a4;
            border: solid #8d9687 1px;
            border-radius: .4em;
            box-shadow: 0px 0px 8px 5px rgba(63, 67, 61, 0.5);
            -webkit-box-shadow: 0px 0px 8px 5px rgba(63, 67, 61, 0.5);
        }
        .cell {
            width: 2em;
            height: 2em;
        }
        .flex{display: flex;}
        .row{flex-direction: row;}
        .column{flex-direction: column;}
        .centered{align-items: center;}
        .space-between{justify-content: space-between; align-content: space-between;}
        .wrap{flex-wrap: wrap;}
        .small-gap{gap: 1em;}
        .small-paddings{padding: .5em;}
        .paddings{padding: 1em;}  